.contact-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: rgba(196, 196, 196, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: modalCome 0.3s both;
  z-index: 1000;
  @include mobile-only {
    align-items: inherit;
    justify-content: inherit;
  }
}
.contact-modal[aria-hidden='true'] {
  animation: modalOut 0.3s both;
}
.modal--wrapper {
  margin-top: 20px;
  padding: 35px;
  max-width: 599px;
  width: 70%;
  height: auto;
  overflow: auto;
  background-color: $colour-form;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  z-index: 1000;
  @include mobile {
    margin: 0;
    padding: 20px;
  }
  @include mobile-only {
    width: 100%;
  }
}
#form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding-bottom: 26px;
  @include mobile {
    padding: 0;
  }
}
#contact__title {
  font-family: DM Sans;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  @include mobile {
    font-size: 36px;
    line-height: 50px;
  }
}
.contact-name {
  display: block;
}
#closeButton {
  align-self: start;
  margin-top: 20px;
  @include mobile-only {
    margin-top: 0;
    margin-right: 10px;
    img {
      width: 25px;
      height: 25px;
    }
  }
}
.formData {
  display: flex;
  flex-direction: column;
  width: 100%;
  label {
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #312e2e;
    @include mobile-only {
      font-size: 24px;
      margin: 14px 0px 6px 2px;
      line-height: 31px;
    }
  }
}
input[type='submit'] {
  height: 69px;
  width: 170px;
  border-radius: 5px;
  background-color: $colour-primary;
  color: $colour-white;
  margin-top: 26px;
  margin-bottom: 3px;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  border: none;
  align-self: flex-start;
  @include mobile {
    height: 35px;
    align-self: center;
  }
}
.text-control {
  width: 100%;
  min-height: 52px;
  border-radius: 5px;
  border: none;
  outline: none;
}
#comment {
  height: 170px;
  font-size: 1rem;
  @include mobile {
    height: 189px;
  }
}
label[for='comment'] {
  margin-bottom: 14px;
}
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes modalOut {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(-500px);
  }
}

@keyframes modalCome {
  from {
    opacity: 0;
    transform: translateY(-500px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
