.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'logo nav title';
  padding-top: 30px;
  @include mobile {
    padding-top: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'logo title'
      'nav nav';
  }
  &__logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
    img {
      @include mobile {
        width: 150px;
      }
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: nav;
    @include mobile {
      flex-wrap: wrap;
      padding: 0px 40px 0px 40px;
    }
  }
  &__title {
    grid-area: title;
    justify-self: center;
    align-self: center;
    color: $colour-primary;
    @include mobile {
      font-size: 1rem;
      padding-bottom: 5px;
    }
  }
}
.nav--button {
  border-radius: 14px;
  background-color: white;
  cursor: pointer;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  color: $colour-primary;
  padding: 4px 7px;
  margin: 0px 6px 0px 6px;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 16px;
  &:active {
  }
  &:focus {
    outline: none;
    background-color: $colour-secondary;
    color: $colour-white;
  }
  &:hover {
    background-color: $colour-secondary;
    color: $colour-white;
  }
}
.buttonClicked {
  background-color: $colour-primary;
  color: white;
}
.redirect {
  position: fixed;
  // top: 20px;
  right: 45%;
  width: 182px;
  height: 30px;
  border-radius: 5px;
  color: #000000;
  line-height: 24px;
  font-size: 1.1rem;
  margin: 6px 0px 7px 0px;
  // position: absolute;
  background-color: $colour-form;
  display: none;
  align-items: center;
  justify-content: center;
  // padding: 3px 6px 8px 6px;
  text-decoration: none;
  font-weight: bold;
  z-index: 1000;
}
