.sort {
  margin-top: 30px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  @include mobile {
    display: none;
  }
}
#Order-wrapper {
  background-color: $colour-primary;
  border-radius: 5px;
  width: 170px;
  margin-left: 20px;
  position: absolute;
  top: 0;
  z-index: 20;
  left: 80px;
}
#Order_by {
  position: absolute;
  top: 20px;
  font-size: 1.12rem;
  font-weight: bold;
}
.fa-chevron-down {
  display: none;
}
button:focus {
  outline: none;
}
button.contact-me:focus {
  background-color: $colour-form;
  color: #000;
}
button.contact-me:hover {
  background-color: $colour-form;
  color: #000;
}
.dropdown-divider {
  height: 1px;
  width: 150px;
  margin-left: 10px;
  border-radius: 0px;
  background: $colour-white;
  list-style-type: none;
}
.rotate {
  transform: rotate(180deg);
}
#sort_button {
  position: absolute;
  top: 0;
  &:focus {
    background-color: $colour-form;
    color: #000;
  }
  &:hover {
    background-color: $colour-form;
    color: #000;
  }
}
#tri {
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: $colour-primary;
  border-radius: 5px;
}
.choose {
  display: flex;
  align-items: center;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 170px;
  background-color: $colour-primary;
  font-size: 18px;
  line-height: 23px;
  color: $colour-white;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  i {
    position: absolute;
    right: 15px;
    margin-left: 15px;
  }
}
// .focused {
//   background-color: blueviolet;
// }
.chevronRotate {
  list-style-type: none;
  position: absolute;
  top: 17px;
  right: 15px;
  transition: transform 0.8s ease-in-out;
  font-weight: bold;
  font-size: 18px;
  color: $colour-white;
}
.activateRotate {
  transform: rotate(180deg);
}
.focused {
  background-color: $colour-primary !important;
  color: white !important;
}
