// .btn {
//     @include btn
// }
.sort {
  margin: 100px 100px;
  display: flex;
}
// #date{
//     display: none;
// }
// #titre{
//     display: none;
// }
#Order-wrapper {
  background-color: #901c1c;
  border-radius: 5px;
  width: 170px;
}
.fa-chevron-down {
  display: none;
}
.choose {
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 170px;
  background-color: #901c1c;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  color: white;
  i {
    margin-left: 15px;
    transition: all 0.4ms;
  }
}
.dropdown-divider {
  height: 1px;
  width: 150px;

  border-radius: 0px;
  background: #ffffff;
  list-style-type: none;
}
.rotate {
  transform: rotate(180deg);
}
#tri {
  // background-color: #901c1c;
}
.tri {
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 170px;
  background-color: #901c1c;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  color: white;
}
