body {
     font-family: DM Sans;
    // color: $colour-primary;
    // font-size: 2rem;
    // font-weight: 100;
    // line-height: 1.7;
}

nav > li > a {
    color: #901C1C;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}
.header__title{
    font-family: DM Sans;
    font-size: 36px;
    line-height: 47px;
    font-weight: normal;
}