body {
  font-family: DM Sans;
}
a {
  text-decoration: none;
  font-family: DM Sans;
}
nav > li > a {
  color: $colour-primary;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.header__title {
  font-family: DM Sans;
  font-size: 36px;
  line-height: 47px;
  font-weight: normal;
}
