.wrapper {
  padding: 40px 20px;
}
.photographer-header {
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  margin-top: 50px;
  @include mobile {
    padding: 0;
    background-color: $colour-white;
  }
}
.photographer-main {
  display: flex;
}
.photographer-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &--name {
    font-size: 4rem;
    color: $colour-secondary;
    font-weight: 400;
    font-family: DM Sans;

    @include mobile {
      font-size: 2.1rem;
    }
  }
  &--location {
    font-size: 1.5rem;
    color: $colour-primary;
    line-height: 31px;
    @include mobile {
      font-size: 0.9rem;
    }
  }
  &--philosophy {
    font-size: 1.1rem;
    color: $colour-grey;
    line-height: 23px;
    @include mobile {
      font-size: 0.9rem;
    }
  }
  &--photo {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}
.contact-me {
  height: 69px;
  width: 170px;

  border-radius: 5px;
  background: #901c1c;
  color: white;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  border: none;

  @include mobile {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.mediaPage {
  height: 250px;
  width: 200px;
}
