.photographer-header {
  width: 100%;
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  height: 313px;
  margin-top: 50px;
}
.photographer-main {
  display: flex;
}
.photographer-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-me {
  height: 69px;
  width: 170px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  background: #901c1c;
  color: white;
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-left: 30px;
}
.mediaPage {
  height: 250px;
  width: 200px;
}
